.main-nav-container
	height: $navHeight

	nav
		height: $navHeight
		color: $navPrimary
		// box-shadow: 1px 0 4px 1px #0003
		position: fixed
		width: 100vw
		background-color: $navBG
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center

		.main-nav-title-container
			padding: 0 64px 4px 16px
			font-size: 1.5em
			line-height: 1.6
			font-weight: 500
			display: flex
			flex-direction: column
			justify-content: flex-end

		.main-nav-links
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center

			.main-nav-link-container
				display: flex
				flex-direction: row
				justify-content: flex-start
				align-items: center
				padding: 12px 16px
				min-height: 100%
				box-sizing: border-box
				// border-bottom: 8px solid #0000

				&:hover
					background-color: $navHover

				&.current
					background-color: $navSelected
					border-color: $navSelectedBorder

				.material-icons
					margin-right: 16px

		> *
			height: 100%
			box-sizing: border-box
		
		.filler
			flex-grow: 1

		button
			&.nav-button
				margin: 0
				color: $navPrimary
				border-radius: 0

				&:hover
					background-color: $navHover

				&[disabled]
					color: $navDisabled
					cursor: default
					&:hover
						background-color: inherit

		.main-nav-logout
			padding: 12px 0

		a
			list-style-type: none
			text-decoration: none
			color: $navPrimary
			